<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Encurtador</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="build/css/app.css">
  </head>
  <body>
    <header>
      <img src="build/images/logo-chaordic.png">
    </header>

    <main>
      <section id="shortener">
        <article>
          <h1>Encurte seus links</h1>
          <p>Links são longos. Encurte os links que você deseja compartilhar, e acompanhe enquanto viajam através da internet.</p>
          <div class="shortener-field active">
            <div class="input-wrapper">
              <input type="text" placeholder="Cole o seu link aqui">
              <button type="reset">&times;</button>
            </div>
            <button type="button" class="shorten">ENCURTAR</button>
          </div>
        </article>
      </section>

      <section id="top">
        <article>
          <h1>TOP 5</h1>
          <ul>
            <li>google.com <span>3.232</span></li>
            <li>google.com <span>3.232</span></li>
            <li>google.com <span>3.232</span></li>
            <li>google.com <span>3.232</span></li>
            <li>google.com <span>3.232</span></li>
          </ul>
        </article>
      </section>
    </main>

    <footer>

    </footer>

    <script src="build/js/app.js"></script>
  </body>
</html>
