#top {
  color: $primary;
  position: relative;
  text-align: center;
  background-color: $white;

  article {
    width: 100%;
    max-width: 550px;
  }

  li {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 0;
    justify-content: space-between;

    span {
      color: $gray;
      font-weight: 300;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray-lighter;
    }
  }

  &::after {
    left: 50%;
    content: '';
    width: 100px;
    height: 100px;
    bottom: -100px;
    position: absolute;
    background-color: $white;
    transform: translateX(-50%);
    clip-path: polygon(50% 50%, 0 0, 100% 0);
  }
}
