#top {
  color: $primary;
  position: relative;
  background-color: $white;

  article {
    width: 100%;
    max-width: 550px;
  }

  h1 {
    text-align: center;
  }

  li {
    display: flex;
    font-size: 18px;
    padding: 0 15px;
    font-weight: 500;
    align-items: center;

    a {
      flex: 100%;
      color: $primary;
      padding: 15px 0;
      text-decoration: none;

      &:hover {
        color: $primary + 15%;
        text-decoration: none;
      }
    }

    span {
      color: $gray;
      font-weight: 300;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray-lighter;
    }

    &:hover {
      background-color: $white + -10%;
    }
  }

  &::after {
    left: 50%;
    content: '';
    width: 100px;
    height: 100px;
    bottom: -100px;
    position: absolute;
    background-color: $white;
    transform: translateX(-50%);
    clip-path: polygon(50% 50%, 0 0, 100% 0);
  }
}
